<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Choffee shop</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">

</head>
<body>
<h1>Coffee Shop</h1>
<div class="container">
  {% if reply == '' %}
  <h2>Hello, welcome to our coffee shop!</h2>
  {% else %}
  <h2>{{reply}}</h2>
  {% endif %}
  <form action="/predict" method="POST">
    <input class="msg" type="text" name="user_message" placeholder="Ask me">
    <br>
    <br>
    <input class="sub" type="submit" value="send">
  </form>
</div>
</body>
</html>
